@import '../sass/_variables.scss';

@font-face {
    font-family: "Brushstrike";
    src: "../fonts/Brushstriketrial.ttf"
}

.fotos {
    width: 100%;
    height: 100vh;
}

.view {
    display: flex !important;
    justify-content: center !important;
}

.textSlider {
    width: 80%;
    position: absolute;
    z-index: 2000;
    font-size: 2rem;
    font-family: "Brushstrike";
    text-align: center;
    color: white;
    margin-top: 150px !important;
    line-height: 2.5rem;
}

@media(min-width:1024px) and (max-width:1440px) {
    .textSlider {
        font-size: 3rem;
        margin-top: 150px !important;
    }
}

@media(min-width:1920px) {
    .textSlider {
        margin-top: 356px !important;
        font-size: 4rem;
    }
}