.contenedorFormulario {
    margin-top: 23px;
    /* margin-left: 40px; */
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.MuiButton-containedPrimary {
    width: 100% !important;
}

.MuiButton-containedPrimary {
    background-color:#00D1CD !important;
    color:rgb(0, 0, 0) !important;
}

@media(min-width:768px) {
    .contenedorGeneralMuro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (min-width: 1024px) {
    .contenedorFormulario {
        width: 41vw;
    }

    .contenedorGeneralMuro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
