.contenedorFormulario {
    margin-top: 23px;
    /* margin-left: 40px; */
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .contenedorFormulario {
        width: 41vw;
    }

    .contenedorGeneralMuro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}