@font-face {
  font-family: "Brushstrike";
  src: "../fonts/Brushstriketrial.ttf"; }

.fotos {
  width: 100%;
  height: 100vh; }

.view {
  display: flex !important;
  justify-content: center !important; }

.textSlider {
  width: 80%;
  position: absolute;
  z-index: 2000;
  font-size: 2rem;
  font-family: "Brushstrike";
  text-align: center;
  color: white;
  margin-top: 150px !important;
  line-height: 2.5rem; }

@media (min-width: 1024px) and (max-width: 1440px) {
  .textSlider {
    font-size: 3rem;
    margin-top: 150px !important; } }

@media (min-width: 1920px) {
  .textSlider {
    margin-top: 356px !important;
    font-size: 4rem; } }

.contenedorNavbar {
  text-align: center;
  background-color: #03293C; }

.imagenLogo {
  width: 40%; }

.contenedorBotones {
  height: 5vh;
  display: flex;
  /* flex-wrap: wrap; */
  overflow-x: auto; }

button {
  flex-grow: 1;
  color: black;
  font-weight: bold;
  width: 62px; }

.colorUno {
  background-color: #49BEB7;
  border: yellow;
  font-size: 90%;
  height: 100%; }

.colorDos {
  background-color: #E4C01F;
  border: aquamarine;
  font-size: 90%;
  height: 100%; }

@media (max-width: 450px) {
  .colorUno {
    font-size: 80%; }
  .colorDos {
    font-size: 80%; }
  button {
    flex-grow: 10;
    color: black;
    font-weight: bold;
    width: 72px; }
  .contenedorBotones {
    height: 5vh;
    display: flex; } }

@media (min-width: 768px) {
  .colorUno {
    font-size: 100%; }
  .colorDos {
    font-size: 100%; }
  button {
    flex-grow: 1;
    color: black;
    font-weight: bold;
    width: 128px; }
  .contenedorBotones {
    height: 5vh;
    display: flex;
    justify-content: center; } }

@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorNavbar {
    max-height: 195px; }
  .imagenLogo {
    width: 153px; }
  .contedorBotones {
    justify-content: center; } }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.contenedorMayorLogin {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.contenedorIngreso {
  width: 236px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 21px; }

.logo {
  width: 155px;
  height: 110px;
  border-radius: 10px;
  margin-bottom: 124px;
  z-index: 2000; }

.formLogin {
  text-align: center;
  height: 355px;
  border-radius: 17px; }

li {
  margin-bottom: 7px; }

.botonInputIngreso {
  border-radius: 19px;
  width: 210px;
  background-color: #039F87;
  height: 36px;
  color: white; }

.inputIngreso {
  border-radius: 14px;
  width: 204px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px; }

#botonRegistrate {
  background-color: blanchedalmond;
  color: black; }

.firebaseui-idp-google,
.firebaseui-idp-google:hover,
.mdl-button.firebaseui-idp-google:active,
.mdl-button.firebaseui-idp-google:focus {
  border-radius: 19px !important;
  margin-bottom: 0px !important;
  width: 0% !important;
  padding-top: 5px !important; }

.firebaseui-idp-facebook,
.firebaseui-idp-facebook:hover,
.mdl-button.firebaseui-idp-facebook:active,
.mdl-button.firebaseui-idp-facebook:focus {
  border-radius: 19px !important;
  margin-bottom: 0px !important;
  width: 0% !important;
  padding-top: 5px !important; }

.firebaseui-idp-list {
  padding: 0 !important;
  margin-bottom: 0px !important; }

.firebaseui-idp-list {
  display: flex !important; }

.firebaseui-idp-icon {
  width: 32px !important; }

.firebaseui-idp-list > .firebaseui-list-item {
  width: 40px !important; }

.firebaseui-idp-list > .firebaseui-list-item {
  margin-right: 40px !important; }

.firebaseui-card-content,
.firebaseui-card-footer {
  padding: 0 24px; }

.firebaseui-idp-list {
  height: 62px !important; }

.pTres {
  margin-top: 1px; }

@media (min-width: 768px) {
  .contenedorIngreso {
    width: 248px; } }

@media (min-width: 1024px) and (max-width: 1440px) {
  .contenedorIngreso {
    width: 249px;
    margin-top: 46px; }
  .logo {
    margin-bottom: 60px;
    margin-top: 0px;
    padding-bottom: 29px;
    border-radius: 0px; } }

@media (min-width: 1920px) {
  .contenedorIngreso {
    margin-top: 140px; } }

.contenedorPublicacion {
  background-color: rgba(68, 68, 68, 0.18);
  max-width: 100vw;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 45px; }

.nombrePublicacion {
  display: flex;
  padding: 4px; }

.imgPublic {
  width: 95%;
  border-radius: 50%; }

.contImg {
  width: 19%; }

.contName {
  width: 70%; }

#name {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0px; }

#date {
  font-size: 0.8rem;
  margin: 0px; }

.botonesPublicacion {
  background-color: #00D1CD; }

.contenedorFoto {
  width: 100%; }

.imagenPublicacion {
  box-sizing: border-box;
  width: 100%; }

.textoPublicacion {
  height: 10vh; }

@media (min-width: 768px) {
  .contenedorPublicacion {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 68vw; } }

@media (min-width: 1024px) {
  .contenedorPublicacion {
    background-color: rgba(68, 68, 68, 0.18);
    max-width: 40vw;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 2rem; } }

.contenedorFooter {
  background-color: #03293C;
  height: 5vh;
  z-index: 2000;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 19px; }

.iconoPersona {
  width: 8%; }

.contenedorFormulario {
  margin-top: 23px;
  /* margin-left: 40px; */
  display: flex;
  flex-direction: column; }

form {
  display: flex;
  flex-direction: column; }

.MuiButton-containedPrimary {
  width: 100% !important; }

.MuiButton-containedPrimary {
  background-color: #00D1CD !important;
  color: black !important; }

@media (min-width: 768px) {
  .contenedorGeneralMuro {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media (min-width: 1024px) {
  .contenedorFormulario {
    width: 41vw; }
  .contenedorGeneralMuro {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.contenedorRegistrar {
  background-image: url("../img/muelleEscritorio.jpg");
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.contenedorPassword {
  background-image: url("../img/termasEscritorio.jpg");
  background-size: 100% 100vh;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column; }

.registrarContenedor {
  width: 65%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.botonInputIngresoRegistro {
  border-radius: 19px;
  width: 223px;
  background-color: #039F87;
  height: 36px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px; }

.logoR {
  width: 155px;
  height: 110px;
  border-radius: 10px;
  margin-bottom: 150px;
  z-index: 2000;
  margin-top: 35px; }

.textoRegistro {
  width: 80%;
  position: absolute;
  z-index: 2000;
  font-size: 3rem;
  font-family: "Brushstrike";
  text-align: center;
  color: white;
  margin-top: 202px; }

.contEdit {
  display: flex;
  flex-direction: column; }

.contBnts {
  display: flex; }

.textEdit {
  height: 10vh; }
